body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    background-image: url(../imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}

.instagram{
    list-style-image: url(../imagens/instagran.jpg);
}

.facebook{
    list-style-image: url(../imagens/facebook.jpg);
}

.twitter{
    list-style-image: url(../imagens/twitter.jpg.png);
}
    
a{
    text-decoration: none;
    color: black;
}